/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.navigation #main-menu {
  display: block;
}
#main-menu li {
  display: inline;
  padding:0 8px;
}
#main-menu a {
  margin:0px;
  font-size:100%;
}
a#home-link span {
  background-image: url(../images/home.png);
}
#mobile-menu {
  display: none;
}
a#mobile-menu-toggle {
  display: none;
}
nav.secondary-navigation {
  display: block;
}

/* SIDEBARS */
#region-sidebar-first,
#region-sidebar-second {
  background:none;
  padding:0px 0;
}
#region-sidebar-first h2,
#region-sidebar-second h2 {
  color:#33adad;
}