/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
html {
  height: 100%;
}
body {
  background-color:#343434;
  background-image: url(../images/background1.jpg);
  background-repeat: repeat-y;
  background-position: center;
  height: 100%;
}
.site-wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1200px) and (min-width: 980px) {
  .site-wrapper {
    width: 960px;
  }
}
body .page-wrapper {
    padding-bottom: 200px;
  }
body #footer {
  height: 328px;
  z-index: 10;
  overflow: hidden;
  position: absolute;
  top:272px;
  left: 0;
  background-image: url(../images/mountains-flat.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  display: none;
}


.region-branding {
  background-image: none;
  margin:0 10px;
}


.region-menu-inner {
  background: transparent;
  margin: 0;
  padding: 0;
  padding-top:40px;
}
.mobile-menu {
  display: none;
}
.site-main-menu {
  display: block;
}


.navigation,
.secondary-navigation {
  overflow: ;
}
ul#main-menu,
ul#secondary-menu {
  float: right;
  margin:5px 0;
  clear: both;
}
#secondary-menu a {
  color:#fff;
}


.navigation #main-menu {
  display: block;
}
#main-menu li {
  display: inline;
  padding:0 8px;
}
#main-menu a {
  margin:0px;
  font-size:120%;
  font-weight: bold;
  color:#f66038;
}
#main-menu a.active,
#main-menu a.active-trail {
  color:#2cadad;
}
a#home-link span {
  background-image: url(../images/home.png);
}
#mobile-menu {
  display: none;
}
a#mobile-menu-toggle {
  display: none;
}
nav.secondary-navigation {
  display: block;
}

#zone-header-wrapper {
  min-height: 328px;
}

/* SIDEBARS */
#region-sidebar-first .block,
#region-sidebar-second .block {
  background:none;
  padding:0px 0;
}
#region-sidebar-first h2,
#region-sidebar-second h2 {
}

/* Slider */
.view-cu-slider-wide-teaser .views-field-field-slider-image {
  width: 60%;
}
.view-cu-slider-wide-teaser .views-field-field-slider-image .field-content {
  padding: 0px;
}
.view-cu-slider-wide-teaser .views-field-field-slider-caption {
  width: 40%;
}
