/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: #343434;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  /* IE8 and below */
}


.site-wrapper {
  z-index: 2;
}



@-webkit-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@-moz-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@-o-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

.middleground .cloud {
  -webkit-animation: middleground-cloud-lg 40s infinite;
  -moz-animation: middleground-cloud-lg 40s infinite;
  -o-animation: middleground-cloud-lg 40s infinite;
  animation: middleground-cloud-lg 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@-moz-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@-o-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

.background .cloud-lg {
  -webkit-animation: background-cloud-lg 60s infinite;
  -moz-animation: background-cloud-lg 60s infinite;
  -o-animation: background-cloud-lg 60s infinite;
  animation: background-cloud-lg 60s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@-moz-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@-o-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

.background .cloud-sm {
  -webkit-animation: background-cloud-sm 60s infinite;
  -moz-animation: background-cloud-sm 60s infinite;
  animation: background-cloud-sm 60s infinite;
  animation: background-cloud-sm 60s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}



.page-wrapper {
}





.foreground,
.middleground,
.background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cloud,
.mountain {
  position: absolute;
  max-height: 100%;
}

.mountain {
  bottom: 0;
}

.foreground {
  z-index: 3;
}
.foreground .mountain-sm {
  left: 0;
  width: 10%;
}
.foreground .mountain-lg {
  left: 40%;
  width: 20%;
}

.middleground {
  z-index: 2;
}
.middleground .mountain-sm {
  left: 20%;
  width: 50%;
}
.middleground .mountain-lg {
  left: 50%;
  width: 80%;
}
.middleground .cloud {
  z-index: 3;
  left: 25%;
  top: 40%;
  width: 20%;
}

.background {
  z-index: 1;
}
.background .mountain-sm {
  z-index: 3;
  left: 5%;
  width: 60%;
}
.background .mountain-lg {
  z-index: 2;
  left: 35%;
  width: 45%;
}
.background .cloud-lg {
  z-index: 1;
  width: 10%;
  top: 20%;
  left: 60%;
}
.background .cloud-sm {
  z-index: 4;
  width: 5%;
  top: 35%;
  left: 50%;
}


/* NEW STYLES START HERE */

a:link, 
a:visited {
  color:#f66038;
  text-decoration: none;
}

.region-branding {
  padding-top:20px;
  padding-bottom:20px;
  background-image: url(../images/mobile-mountains.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  margin:0;
}
.logo-img {
  float: none;
  text-align: center;
}
h1.site-name,
h2.site-name {
  text-indent: -9999px;
}
.site-name-slogan {
  display: none;
}

.region-branding-inner {
  position: relative;
  padding:0 30px;
}
.block-mobile-menu-toggle {
  position: absolute;
  top:0px;
  right:0px;
}
a#mobile-menu-toggle {
  display: block;
  background-image: url(../images/toggle.png);
  background-repeat: no-repeat;
  height: 24px;
  text-indent: -9999px;
  width: 27px;
}

.mobile-menu {
  background:#333;
  margin:0 10px;
  display: none;
}
.mobile-menu ul,
.mobile-menu ul li {
  margin: 0;
  padding: 0;
}
.mobile-menu a,
.mobile-menu a.active,
.mobile-menu a.active-trail {
  padding:10px;
  border-bottom:1px solid #111;
  display: block;
  float: none;
  font-weight: bold;
  color:#f66038;
}
.site-main-menu {
  display: none;
}

/* MENUS */
#main-menu a {
  margin:0px;
  font-size:120%;
  font-weight: bold;
  color:#f66038;
  
}
#secondary-menu a {
  color:#fff;
  
}


.container-12 {

}
.block-inner {
  padding: 0 10px;
}
.breadcrumb {
  padding:10px;
  font-size: 85%;
}
.content {
  line-height: 1.5em;
}


#zone-header-wrapper {
  background: #000;
}
.zone-branding-wrapper {
  background-color: #000;
}
#zone-content-wrapper {
  background-color: #aa3320;
}
#zone-content {
  background: #fff;
  padding:10px 0;

}
#zone-footer {
  color:#fff; 
  background-color: #000;
  margin-bottom: 20px;
}

h1#page-title {
  margin:0 0 10px 0;
  padding:0 0 0 10px;
  font-size: 36px;
  font-weight: normal;
}
.front h1.title {
  display: none;
}

/* BLOCKS */
.block {
  margin-bottom:20px;
}
h2.block-title {
  font-size: 22px;
  font-weight: bold;
  margin:5px 0;
}

/* SIDEBARS */
#region-sidebar-first,
#region-sidebar-second {
  background:#e9edf0;
  padding:20px 0;
}
#region-sidebar-first h2,
#region-sidebar-second h2 {
  color:#333;
}

/* NODE META */

footer.submitted {
  display: none;
}

/* FORMS */

input.form-text,
textarea.form-textarea {
  border:1px solid #ddd;
}

/* SPONSORS VIEW */

.view-id-sponsors ul {
  margin: 0;
  padding: 0;
}
.view-id-sponsors ul li {
  margin:0 0 20px 0;
  padding:0;
}

/*TABLES */

table th,
table th.active {
  background: #333;
  color:#fff;
}
table th a:link,
table th a:visited {
  color:#fff;
  font-weight: bold;
}
table td,
table tr,
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active,
tr.odd td,
tr.even td {
  background: none;
}

