/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.site-wrapper {
  z-index: 2;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  position: relative;
  height: 100% !important;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.375em 15px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.375em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.375em 0;
}

dd {
  margin: 0 0 0 15px;
}

menu,
ol,
ul {
  padding: 0 0 0 15px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #e5e5e5;
  margin: 0.75em 0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.6875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.6875em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.6875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.6875em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

body {
  color: #464646;
  font-weight: 300;
  background-color: white;
}
body.cke_editable, body.cke_ltr {
  background-color: white;
  margin: 20px;
}

h1 {
  font-size: 3.75em;
  line-height: 1em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
}


h2 {
  font-size: 1.875em;
  line-height: 1em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
  color: #33adad;
}
@media (min-width: 820px) {
  h2 {
    font-size: 2.625em;
    line-height: 1em;
  }
}

h3 {
  font-size: 1.875em;
  line-height: 1.2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
}

h4 {
  font-size: 1.125em;
  line-height: 1.66667em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
}

h5 {
  font-size: 1em;
  line-height: 1.875em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: 300;
}

h6 {
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-transform: uppercase;
  font-weight: 700;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
a:hover {
  color: #010101;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1.5em;
}

blockquote {
  margin: 0.75em 0 0.75em 15px;
}

img {
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  /* IE8 and below */
}

dl {
  margin-bottom: 1.125em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 30px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}

label {
  font-size: 0.875em;
  line-height: 1.28571em;
  display: block;
  margin-bottom: 0.42857em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

form {
  margin-bottom: 1.875em;
}

label {
  cursor: pointer;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.125em;
  padding: 0.1875em;
  margin-bottom: 0;
  max-width: 100%;
  background-color: white;
  border-color: #d4d4d4;
  border-top-color: #9d9d9d;
  color: #464646;
  font-weight: 300;
  -webkit-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  -moz-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  -moz-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  border-color: #9d9d9d;
  border-top-color: #666666;
}

input[type="file"] {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
  font-size: 1em;
  line-height: 1.875em;
  font-weight: 300;
  margin-bottom: 0.42857em;
  -webkit-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  -moz-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  box-shadow: 0 0 0 3px rgba(157, 157, 157, 0);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
select:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  -moz-box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  box-shadow: 0 0 0 3px rgba(157, 157, 157, 0.25);
  outline-color: transparent;
  outline-style: none;
}

fieldset {
  border: none;
  padding: 0;
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.75em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #cccccc;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #cccccc;
}

tr.odd {
  background-color: #e5e5e5;
}

tr.even {
  background-color: transparent;
}

tbody > tr.odd {
  background-color: transparent;
}

.clearfix, form {
  *zoom: 1;
}
.clearfix:after, form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.intro {
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 820px) {
  .intro {
    font-size: 1.125em;
    line-height: 1.66667em;
  }
}

.centered {
  text-align: center;
}

.l-constrained {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10% 5%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 1060px) {
  .l-constrained {
    margin: 0 auto;
    padding: 10% 5%;
  }
}



#header {
  padding: 0% 0 0;
}

#logo {
  margin-bottom: 0.5em;
}
#logo img {
  display: block;
  width: 100%;
  height: auto;
}

#header h2 {
  margin-bottom: 0.71429em;
}
#header h2 .year {
  color: #f66038;
}

.intro {
  margin-bottom: 0;
}
@media (min-width: 1060px) {
  .intro {
    margin-right: 25%;
  }
}

@-webkit-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@-moz-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@-o-keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

@keyframes middleground-cloud-lg {
  from {
    left: -10%;
  }

  to {
    left: 90%;
  }
}

.middleground .cloud {
  -webkit-animation: middleground-cloud-lg 40s infinite;
  -moz-animation: middleground-cloud-lg 40s infinite;
  -o-animation: middleground-cloud-lg 40s infinite;
  animation: middleground-cloud-lg 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@-moz-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@-o-keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

@keyframes background-cloud-lg {
  from {
    left: -20%;
  }

  to {
    left: 100%;
  }
}

.background .cloud-lg {
  -webkit-animation: background-cloud-lg 60s infinite;
  -moz-animation: background-cloud-lg 60s infinite;
  -o-animation: background-cloud-lg 60s infinite;
  animation: background-cloud-lg 60s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@-moz-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@-o-keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

@keyframes background-cloud-sm {
  from {
    left: -30%;
  }

  to {
    left: 90%;
  }
}

.background .cloud-sm {
  -webkit-animation: background-cloud-sm 60s infinite;
  -moz-animation: background-cloud-sm 60s infinite;
  animation: background-cloud-sm 60s infinite;
  animation: background-cloud-sm 60s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@media (min-width: 360px) {
  html {
    height: 100%;
  }
}

.page-wrapper {
}

body #footer {
  height: 80%;
  z-index: -1;
}
body .scene {
  height: 100%;
  width: 400%;
  left: -150%;
}
@media (min-width: 360px) {
  body {
    height: 100%;
  }
  body .page-wrapper {
    height: 100%;
  }
  body #footer {
    height: 60%;
    position: absolute;
  }
  body .scene {
    height: 100%;
    width: 160%;
    left: -30%;
  }
}
@media (min-width: 1060px) {
  body {
    height: auto;
    padding-bottom: 0;
  }
  body .page-wrapper {
    padding-bottom: 600px;
  }
  body #footer {
    height: 600px;
    position: fixed;
  }
  body .scene {
    left: -30%;
    width: 160%;
    height: 100%;
  }
}

#footer {
  width: 100%;
  overflow: hidden;
  
  bottom: 0;
  left: 0;
}

.scene {
  position: absolute;
  bottom: 0;
}

.foreground,
.middleground,
.background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cloud,
.mountain {
  position: absolute;
  max-height: 100%;
}

.mountain {
  bottom: 0;
}

.foreground {
  z-index: 3;
}
.foreground .mountain-sm {
  left: 0;
  width: 40%;
}
.foreground .mountain-lg {
  left: 40%;
  width: 70%;
}

.middleground {
  z-index: 2;
}
.middleground .mountain-sm {
  left: 20%;
  width: 50%;
}
.middleground .mountain-lg {
  left: 50%;
  width: 80%;
}
.middleground .cloud {
  z-index: 3;
  left: 25%;
  top: 40%;
  width: 20%;
}

.background {
  z-index: 1;
}
.background .mountain-sm {
  z-index: 3;
  left: 5%;
  width: 60%;
}
.background .mountain-lg {
  z-index: 2;
  left: 35%;
  width: 45%;
}
.background .cloud-lg {
  z-index: 1;
  width: 10%;
  top: 20%;
  left: 60%;
}
.background .cloud-sm {
  z-index: 4;
  width: 5%;
  top: 35%;
  left: 50%;
}


/* NEW STYLES START HERE */



.region-branding {
  padding-top:20px;
}
.logo-img {
  float: none;
  text-align: center;
}
h1.site-name,
h2.site-name {
  text-indent: -9999px;
}
.site-name-slogan {
  display: none;
}
.container-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
.region-inner,
.breadcrumb {
  padding:0 10px;
}
.content {
  line-height: 1.5em;
}
#main-menu a {
  color:#df3026;
}

/* MOBILE NAVIGATION TOGGLE */

  /* HIDE MENU FOR MOBILE - DISPLAY ON DESKTOP */
#main-menu {
  display: none;
}


.region-branding-inner {
  position: relative;
  padding:0 20px;
}
.block-mobile-menu-toggle {
  position: absolute;
  top:0px;
  right:0px;
}
a#mobile-menu-toggle {
  display: block;
  background-image: url(../images/toggle.png);
  background-repeat: no-repeat;
  height: 24px;
  text-indent: -9999px;
  width: 27px;
}