/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: #343434;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  /* IE8 and below */
}
p {
  margin-bottom: 1em;
}

.site-wrapper {
  z-index: 2;
}

a:link,
a:visited {
  color:#f66038;
  text-decoration: none;
}

.region-branding {
  padding-top:20px;
  padding-bottom:20px;
  background-image: url(../images/mobile-mountains.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  margin:0;
}
.logo-img {
  float: none;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
  margin-bottom: 10px;
  font-weight: normal;
}
h2 {
  font-size: 187%;
  margin-bottom: 20px;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 126%;
}
h5 {
  font-size: 113%;
}
h6 {
  font-size: 100%;
}
h1.site-name,
h2.site-name {
  text-indent: -9999px;
}
.site-name-slogan {
  display: none;
}

.region-branding-inner {
  position: relative;
  padding:0 30px;
}
.block-mobile-menu-toggle {
  position: absolute;
  top:0px;
  right:0px;
}
a#mobile-menu-toggle {
  display: block;
  background-image: url(../images/toggle.png);
  background-repeat: no-repeat;
  height: 24px;
  text-indent: -9999px;
  width: 27px;
}

.mobile-menu {
  background:#333;
  margin:0 10px;
  display: none;
}
.mobile-menu ul,
.mobile-menu ul li {
  margin: 0;
  padding: 0;
}
.mobile-menu a,
.mobile-menu a.active,
.mobile-menu a.active-trail {
  padding:10px;
  border-bottom:1px solid #111;
  display: block;
  float: none;
  font-weight: bold;
  color:#f66038;
}
.site-main-menu {
  display: none;
}

/* MENUS */
#main-menu a {
  margin:0px;
  font-size:120%;
  font-weight: bold;
  color:#f66038;

}
#secondary-menu a {
  color:#fff;

}


.container-12 {

}
.block-inner {
  padding: 0 10px;
}
.breadcrumb {
  padding:10px;
  font-size: 85%;
}
.content {
  line-height: 1.5em;
}

#zone-user-wrapper {
  height: 10px;
  background: #2aadae;
  height: 8px;
}
#zone-header-wrapper {
  background: #000;
}
.zone-branding-wrapper {
}
#zone-content-wrapper {
}

#zone-content {
  background: #fff;
  padding:10px 0;

}
#zone-footer {
  color:#fff;
  background-color: #000;
  margin-bottom: 20px;
  padding-top:20px;
}
.region-footer-first .block {
}

h1#page-title {
  margin:0 0 10px 0;
  padding:0 0 0 10px;
  font-size: 36px;
  font-weight: 100;
}
.front h1.title {
  display: none;
}

/* BLOCKS */
.block {
  margin-bottom:20px;
}
h2.block-title {
  font-size: 22px;
  font-weight: bold;
  margin:5px 0;
}

/* SIDEBARS */
#region-sidebar-first .block,
#region-sidebar-second .block {
  background:#e9edf0;
  padding:20px 0;
}
#region-sidebar-first h2,
#region-sidebar-second h2 {
  color:#333;
  font-weight: 100;
  font-size: 160%;
}

/* FORMS */

input.form-text,
textarea.form-textarea {
  border:1px solid #ddd;
}

/* SPONSORS VIEW */

.view-id-sponsors ul {
  margin: 0;
  padding: 0;
}
.view-id-sponsors ul li {
  margin:0 0 20px 0;
  padding:0;
}

/*TABLES */

table th,
table th.active {
  background: #333;
  color:#fff;
}
table th a:link,
table th a:visited {
  color:#fff;
  font-weight: bold;
}
table td,
table tr,
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active,
tr.odd td,
tr.even td {
  background: none;
}


/* FEED ICON */

.feed-icon {
  padding:10px;
}


/* region-footer-second */

.region-footer-second ul.menu,
.region-footer-second ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.region-footer-second ul.menu li {
  display: inline;
}
.region-footer-second ul.menu li a,
.region-footer-second ul.menu li a.active,
.region-footer-second ul.menu li a.active-trail {
  color:#fff;
  display: inline-block;
  margin-right:15px;
  font-size: 85%;
  font-weight: bold;
}

/* News */
.view-news .item-list ul,
.view-news .item-list li {
  margin: 0;
  padding: 0;
}
article .date {
  float: left;
  background: #ccc;
  width: 50px;
  margin: 0 5px 5px 0;
}
article .date .day {
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 3px;
}
article .date .month {
  background: #333;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 10px;
  line-height: 15px;
}
