/* FLEX SLIDER */

.flexslider {
  margin: 0 0 0px; 
  background: transparent; 
  border: none; 
  position: relative; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  -o-border-radius: 4px; 
  border-radius: 4px; 
  box-shadow: none; 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  -o-box-shadow: none; 
  zoom: 1;
}
.flex-control-paging1 {
  display: none;
}
.flex-nav-container .flex-control-paging li a {
  width:11px;
  height: 11px;
  background-color: transparent;
  background-image: url(dots.png);
  background-position: 0 0;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.flex-nav-container .flex-control-paging li a.flex-active {
  width:11px;
  height: 11px;
  background-color: transparent;
  background-image: url(dots.png);
  background-position: 0 -11px;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.flex-nav-container .flex-control-paging li a:hover,
.flex-nav-container .flex-control-paging li a.flex-active:hover {
  background-color: transparent;
  background-position: 0 -22px;
}
.flex-control-nav {
  bottom: -20px;
}
.flex-direction-nav a {
  width:35px;
  height: 35px;
}
.flex-direction-nav .flex-prev {opacity: 1; left: 10px;}
.flex-direction-nav .flex-next {opacity: 1; right: 10px;}
.flex-direction-nav .flex-prev {
  background-image: url(medium-arrows.png);
  left:20px;
}
.flex-direction-nav .flex-next {
  background-image: url(medium-arrows.png);
  right:20px;
}

.flexslider .flexslider-views-slideshow-main-frame-row {
  position: relative;
}
.flexslider .views-field-field-slider-caption {
  position: absolute;
  background-image:url(black50.png);
  color:#fff;
  bottom:0;
  left:0;
  width:100%;
}
.flexslider .views-field-field-slider-caption .field-content {
  padding: 10px;
}

.flexslider .views-field-field-slider-caption .field-content h2 {
  margin: 0;
  font-size: 180%;
  font-weight: 100;
}
.flexslider .views-field-field-slider-caption .field-content h2 a {
  color:#fff;
}
/*
.flexslider .views-field-field-slider-caption .field-content h2 a:after {
  content:" \00bb";
}
*/

/* MEDIUM SLIDER */

.slider-medium-slider {
  position: relative;
}
.grid-12 .slider-medium-slider, 
.grid-9 .slider-medium-slider {
  width: 440px;
  float: right;
  margin-left: 20px;
}
.grid-6 .slider-medium-slider, 
.grid-4 .slider-medium-slider, 
.grid-3 .slider-medium-slider {
  width: 100%;
  float: none;
  margin-left: 0px;
} 

.view-cu-slider-medium .views-field-field-slider-caption .field-content h2 {
  font-size:110%;
  font-weight:normal;
  margin:0;
}

/* SMALL SLIDER */
.grid-6 .slider-small-slider,
.grid-9 .slider-small-slider,
.grid-12 .slider-small-slider {
  width: 280px;
  float: right;
  margin-left: 20px;
}
.view-cu-slider-small .views-field-field-slider-caption {
  background-image: none;
  position: static;
  color:#363636;
  padding:0;
}
.view-cu-slider-smal .flexslider .views-field-field-slider-caption .field-content {
  padding: 0px;
}
.view-cu-slider-small .flexslider-views-slideshow-main-frame-row {
  width: 100%;
}
.view-cu-slider-small .views-row {
  width: 100%;
}
.view-cu-slider-small .flexslider img {
  float:right;
  margin:0 0 20px 20px;
  width:50% !important;
  height:auto !important;
}



.grid-6 .view-small-slider .views-field-field-slider-image img {
  width: 120px;
  height: 120px;
}
.grid-4 .view-small-slider .views-field-field-slider-image img,
.grid-3 .view-small-slider .views-field-field-slider-image img {
  width: 100px;
  height: 100px;
}
.view-cu-slider-small .views-field-field-slider-caption .field-content h2 {
  font-size:100%;
  font-weight:normal;
  margin:0;
}
.view-cu-slider-small .views-field-field-slider-caption .field-content h2 a {
  color:#0072bc;
}
/* SLIDER WITH TEASER */

.view-cu-slider-wide-teaser .flexslider_views_slideshow_slide {
  background: transparent;
  overflow: auto;
  background:#333;
  background:rgba(0,0,0,.6);
}
.view-cu-slider-wide-teaser .views-field-field-slider-image {
    
    float: none;
    width:100%;
  }
.view-cu-slider-wide-teaser .views-field-field-slider-caption {
    float: none;
    width:100%;
    margin-right:0px;
    position: absolute;
    background-image: none;
    background-color: transparent;
}
body .view-cu-slider-wide-teaser .flexslider .views-field-field-slider-caption {
  background-color: transparent;
  background-image: none;
}
.view-cu-slider-wide-teaser .views-field-field-slider-caption .field-content {
  padding:10px 20px;
}
p.slide-teaser {
  margin:10px 0;
}
.view-cu-slider-wide-teaser a.button {
  margin:5px 0;
  padding:5px 10px;
  background-color: #f95f2e;
  color:#fff;
  display: inline-block;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.view-cu-slider-wide-teaser p.slide-teaser,
.view-cu-slider-wide-teaser a.button {
  display:none;
}
@media (min-width: 720px) {
  .view-cu-slider-wide-teaser .views-field-field-slider-image {
    float: left;
    width:60%;
  }
  
  .view-cu-slider-wide-teaser .views-field-field-slider-caption {
    float: left;
    width:40%;
    
    position: static;
    background-image: none;
  }
  .view-cu-slider-wide-teaser p.slide-teaser {
    display: block
  }
  .view-cu-slider-wide-teaser a.button {
    display:inline-block;
  }

}


@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  body .flexslider .views-field-field-slider-caption {
    position: static;
    background-image:url(black50.png);
    background-color: #000;
    color:#fff;
    bottom:0;
    left:0;
    width:100%;
  }

}

